# Auto-ablation with Howso Engine

> Note: This feature is experimental and is not universally recommended for production deployment.

## Overview

This notebook provides an overview of using auto-ablation during train to reduce the size of your data _as they are trained_.

In [1]:
import pandas as pd
from pmlb import fetch_data

from howso.engine import Trainee
from howso.utilities import infer_feature_attributes

## Step 1: Load Data & Feature Mapping

Our example dataset for this recipe is the well-known `Adult` dataset. This dataset works well because it has over 48,000 cases. In general, datasets containing over 25,000 rows work well. The default minimum size is 1,000 cases, below which no cases will be ablated.

This part of the process is identical to other recipes.

In [2]:
df = fetch_data("adult", local_cache_dir="../../../data")
features = infer_feature_attributes(df)

display(df)
display(features.to_dataframe())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39.0,7,77516.0,9,13.0,4,1,1,4,1,2174.0,0.0,40.0,39,1
1,50.0,6,83311.0,9,13.0,2,4,0,4,1,0.0,0.0,13.0,39,1
2,38.0,4,215646.0,11,9.0,0,6,1,4,1,0.0,0.0,40.0,39,1
3,53.0,4,234721.0,1,7.0,2,6,0,2,1,0.0,0.0,40.0,39,1
4,28.0,4,338409.0,9,13.0,2,10,5,2,0,0.0,0.0,40.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,4,215419.0,9,13.0,0,10,1,4,0,0.0,0.0,36.0,39,1
48838,64.0,0,321403.0,11,9.0,6,0,2,2,1,0.0,0.0,40.0,39,1
48839,38.0,4,374983.0,9,13.0,2,10,0,4,1,0.0,0.0,50.0,39,1
48840,44.0,4,83891.0,9,13.0,0,1,3,1,1,5455.0,0.0,40.0,39,1
48841,35.0,5,182148.0,9,13.0,2,4,0,4,1,0.0,0.0,60.0,39,0

                      type decimal_places  bounds                        \
                                              min        max allow_null
age             continuous              0     7.0      148.0       True
workclass          nominal              0     NaN        NaN      False
fnlwgt          continuous              0  8103.0  3269017.0       True
education          nominal              0     NaN        NaN      False
education-num   continuous              0     1.0       20.0       True
marital-status     nominal              0     NaN        NaN      False
occupation         nominal              0     NaN        NaN      False
relationship       nominal              0     NaN        NaN      False
race               nominal              0     NaN        NaN      False
sex                nominal              0     NaN        NaN      False
capital-gain    continuous              0     0.0   162755.0       True
capital-loss    continuous              0     0.0     8103.0       True
hours-per-week  continuous              0     1.0      148.0       True
native-country     nominal              0     NaN        NaN      False
target             nominal              0     NaN        NaN      False

               data_type original_type
                             data_type size
age               number       numeric    8
workclass         number       integer    8
fnlwgt            number       numeric    8
education         number       integer    8
education-num     number       numeric    8
marital-status    number       integer    8
occupation        number       integer    8
relationship      number       integer    8
race              number       integer    8
sex               number       integer    8
capital-gain      number       numeric    8
capital-loss      number       numeric    8
hours-per-week    number       numeric    8
native-country    number       integer    8
target            number       integer    8

## Step 3: Create Trainee and Set Parameters

The process of creating the `Trainee` is the same as the other recipes. However, after the `Trainee` is created, we set auto-analyze and auto-ablation parameters to ensure that the `Trainee` remains informed as it removes cases during train.

In [3]:
t = Trainee(features=features)

# Set auto-analyze parameters. Note that use_case_weights=True since case-weights are how
# information from ablated cases is retained in the Trainee.
t.set_auto_analyze_params(auto_analyze_enabled=True, use_case_weights=True)

# Set auto-ablation parameters.
t.set_auto_ablation_params(
    auto_ablation_enabled=True,
    influence_weight_entropy_threshold=0.6,
    min_num_cases=2_500,
    max_num_cases=10_000,
    delta_threshold_map={
        "accuracy": {"target": 0.1}
    }
)

This recipe uses the following parameters for auto-ablation:

- `auto_ablation_enabled` — When this parameter is `False`, auto-ablation will not be performed.
- `influence_weight_entropy_threshold` — This parameter is used to determine which cases will be ablated.
  If the entropy of a case's influence weights would be above this percentile of existing cases' influence
  weight entropies, then the case is ablated. This is set to $0.6$, the default value.
- `min_num_cases` — This parameter sets the minimum number of cases that are allowed to be in the Trainee.
- `max_num_cases` — This parameter sets the maximum number of cases that are allowed to be in the Trainee.
- `delta_threshold_map` — This parameter defines thresholds that are used to determine when ablation should stop.
  In this case, the threshold map instructs auto-ablation to stop if the delta between the current accuracy
  of the `"target"` feature and its previous accuracy is greater than $0.1$. I.e., ablation will stop if accuracy
  for that feature drops from $0.8$ to $0.7$. More formally, ablation will stop if
  $\text{acc}_\text{old} - \text{acc}_\text{new} \geq 0.1$.

## Step 4: Training

Now that the parameters are set, the `Trainee` can be trained as if this were a normal workflow.

In [4]:
t.train(df)

Notably, only a subset of the cases have been trained (the rest have been ablated).

In [5]:
num_trained_cases = t.get_num_training_cases()
num_total_cases = len(df)
num_trained_percent = round((num_trained_cases / num_total_cases) * 100, 3)

print(f"Trained {num_trained_cases:,} cases out of {num_total_cases:,} ({num_trained_percent}%).")

Trained 3,845 cases out of 48,842 (7.872%).

## Step 5: Results

An ablated `Trainee` can be used in much the same way as other `Trainee`s, as long as `use_case_weights=True`. Here, we will investigate the prediction stats for all features.

In [6]:
stats = t.get_prediction_stats(
    action_feature="target",
    details={
        "prediction_stats": True,
        "selected_prediction_stats": ["all"],
    },
)

In [7]:
stats.loc[stats.index != "confusion_matrix", :]

,education,race,native-country,relationship,sex,occupation,target,marital-status,workclass,age,fnlwgt,capital-loss,hours-per-week,capital-gain,education-num
recall,0.225875,0.229687,0.06984,0.615519,0.811498,0.248635,0.705768,0.43,0.235445,NaN,NaN,NaN,NaN,NaN,NaN
rmse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.655115,104463.974928,407.087037,9.841073,6868.951599,1.351936
missing_value_accuracy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
r2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275934,-0.115547,-0.035365,0.138459,-0.059554,0.710517
accuracy,0.564,0.812,0.867543,0.758,0.848,0.35035,0.843,0.807,0.747748,NaN,NaN,NaN,NaN,NaN,NaN
spearman_coeff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.531265,0.132178,0.702552,0.375487,0.604741,0.869911
adjusted_smape,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.78758,41.411101,60.872619,16.590273,83.842034,6.542132
mcc,0.42528,0.170078,0.18497,0.66314,0.639854,0.263492,0.470503,0.699917,0.185784,NaN,NaN,NaN,NaN,NaN,NaN
precision,0.368435,0.455993,0.065799,0.597515,0.828583,0.250419,0.76896,0.487995,0.279449,NaN,NaN,NaN,NaN,NaN,NaN
smape,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.075041,41.411229,61.70987,16.825928,84.692036,7.009861
mae,0.498525,0.223846,0.172147,0.279037,0.179942,0.694888,0.17882,0.229708,0.320794,8.08775,76454.350829,124.574618,6.485961,1381.961163,0.552194

In [8]:
# The confusion matrix can be retrieved
print("Howso Prediction Results - Confusion Matrix for 'target'")
matrix = pd.DataFrame(stats["target"]["confusion_matrix"]["matrix"])
matrix.index.name = "Predicted"
matrix.columns.name = "Actual"
display(matrix)

Howso Prediction Results - Confusion Matrix for 'target'

Actual       1    0
Predicted
 1         746  108
 0          49   97

## Conclusion

Howso Engine with auto-ablation can compress data to a fraction of its original size while ensuring accuracy (and other measures) remain in an acceptable range without compromising the other capabilities of the `Trainee`.